* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    background: white;
    border-radius: 10px;
}


.forms-row {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.ditch-form {
    flex: 1;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.inputParam {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

label {
    font-weight: bold;
    color: #000;
}

input[type="number"] {
    padding: 8px 12px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100px;
    font-size: 16px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%
}

button {
    padding: 12px 30px;
    background-color: #13bd03;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #117b07;
}

.result {
    margin-top: 20px;
    padding: 20px;
    width: 60%;
    height: 300px;
    text-align: center;
}

.result p {
    margin-top: 0.5rem;
    text-align: left;
}

.result-image {
    max-width: 200px;
    margin-top: 15px;
}