* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Merriweather", serif;
  background: radial-gradient(circle at top, #2f3e2e, #1c241c, #141a14);
  background-attachment: fixed;
  color: #e0e4d9;
}


a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}
